

<article class="flex flex-col items-center text-pretty justify-center gap-8 text-gray dark:text-white md:flex-row">
    <div
      class="[&>p]:mb-6   mt-0 text-pretty order-2 md:order-1"
      
    >
    <p>My name is Mateo, I am 19 years old, and I am currently studying Computer Engineering at the National University of La Matanza. I am someone who loves to be in constant learning, which is why I have completed programming courses from Google, the government, etc. <span class="text-[#D63484] text-bold">I have already completed courses in Java Fullstack and SQL.</span> </p>

  
    <p >Currently, <span class="text-[#D63484] text-bold">I am taking a QA Testing course </span> (Argentine government) with the goal of acquiring new knowledge that enhances my professional development.</p>

  
      
    </div>
  
  
  </article>
